@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #376FB9;
  --light: #f9f9f9;
  --pink: #D94848;
}

body {
  color: var(--blue);
  background: var(--blue);
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}